button {
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: bold;
    transition: all 0.3s ease 0s;

    border-radius: 25px;
}

button:hover{
    background-color: #FF9933;
    color: #ffffff;
    text-decoration: underline;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

